<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTC Onchain Indicator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</head>
<body>
    <div class="container">
        <h1 class="mt-5">BTC Onchain Indicator</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="puell-multiple">Puell Multiple</a>
                <a class="nav-item nav-link" id="nupl">NUPL</a>
                <a class="nav-item nav-link" id="mvrv">MVRV</a>
            </div>
        </nav>
        <div id="chart-puell" style="width:100%;height:500px;" data-server="{{ data_puell }}"></div>
        <div id="chart-nupl" style="width:100%;height:500px; display:none;" data-server="{{ data_nupl }}"></div>
        <div id="chart-mvrv" style="width:100%;height:500px; display:none;" data-server="{{ data_mvrv }}"></div>
        
        
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
